/* FileUpload.css */


/* Set the background color for the entire page */
body {
  /* background-color: #0c0c93; */
  /* background-color: #050561; */
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}

/* Style for the background image container */
.background-img {
  position: absolute; /* Positioning to layer behind other elements */
  top: 0;
  left: 0;
  width: 100%; /* Full width */
  height: 250px; /* Full viewport height */
  background-image: url('./images/PAM_Talks_Logo_Square_.png'); /* Path to the background image */
  background-size: auto; /* Cover the entire element */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-position: center top; /* Center the image */
  z-index: -1; /* Place it behind other elements */
}

/* Style for the header */
.header {
  position: relative; /* Ensure the header is positioned on top of the background */
  z-index: 1; /* Higher z-index to appear above the background image */
  /* background: rgba(0, 0, 0, 0.5); Optional: semi-transparent background for readability */
  color: white; /* Text color */
  padding: 20px; /* Spacing around the text */
}

div {
  white-space: nowrap;
  overflow: hidden;
}


.big-text {
  font-size: 100px;
  font-weight: bold;
}

.fancy-text {
  font-family: 'Dancing Script', cursive;
}

/* Spacing for header elements */
h1 {
  margin-bottom: 30px; /* Adjust as needed */
  color: white;
  text-align: center;
  font-size: 50px;
}

h3 {
  margin-top: 20px; /* Adjust as needed */
  margin-bottom: 20px; /* Adjust as needed */
}

h4 {
  margin-top: 20px; /* Adjust as needed */
  margin-bottom: 10px; /* Adjust as needed */
}


  .container {
    display: flex; /* Use Flexbox to layout child elements side by side */
    align-items: flex-start; /* Align items to the top */
    justify-content: space-between; /* Distribute space between items */
    margin-top: 10px; /* Adjust as needed */
  }
  
  .text-content {
    display: inline;
    text-align: left; /* Align text to the left */
    margin-bottom: 50px;
  }
  
  .timestamps-container {
    max-height: 200px; /* Adjust this height as needed */
    overflow-y: auto; /* Add vertical scrollbar if content exceeds max-height */
    border: 1px solid #ccc; /* Optional: Add border for better visibility */
    padding: 50px; /* Optional: Add padding for aesthetics */
    text-align: center;
    margin-left: auto; /* Push the container to the right */
  }
  
  .timestamps-container ul {
    list-style-type: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
  }
  
  .timestamps-container li {
    margin-bottom: 5px; /* Add space between items */
  }

  .file-upload-container {
    margin-bottom: 5px; /* Space between the pairs of file input and button */
  }
  
  .file-input {
    margin-right: 10px; /* Space between file input and button */
  }
  
  .upload-button {
    padding: 6px 12px;
  }

  .download-button {
    padding: 6px 12px;
  }
